[submodule "Plugins/EditorAssetActions"]
	path = Plugins/EditorAssetActions
	url = https://github.com/thomppa030/UE5EditorAssetActions.git
[submodule "Plugins/GASFramework"]
	path = Plugins/GASFramework
	url = https://github.com/thomppa030/GASFramework.git
[submodule "Plugins/GASGameFeatureActions"]
	path = Plugins/GASGameFeatureActions
	url = https://github.com/thomppa030/GASGameplayFeatureActions.git
